<!doctype html>
<html>
<head>
    <title>Заклинания D&D 5 редакция</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Заклинания D&D5">
    <link rel="shortcut icon" href="<%= require('./img/favicon.ico') %>" />
    <meta property="og:image" content="<%= require('./img/bg2.jpg') %>" />
    <meta property="og:image" content="<%= require('./img/og.jpg') %>" />
    <meta property="og:title" content="Заклинания D&D 5 редакция" />
    <meta property="og:description" content="Карточки заклинаний на русском и английском языках" />
    <style>
        article, aside, details, figcaption, figure, footer, header,
        hgroup, menu, nav, section, div {
            display: block;
        }
    </style>
</head>
<body>

<div class='wrap' id='app'>
    <filter-bar></filter-bar>

    <div class='p_cont' ref="cardContainer">
        <div id='lockedItemsArea' v-show="aLockedItemsList.length>0 && bCardsAreVisible" v-cloak>
            <div class='flex_row noprint'>
                <span class='topHeader'>Закрепленные заклинания ({{ aLockedItemsList.length }})</span>
                <span class='bUnlockAll' @click="unlockAll">Открепить все</span>
            </div>
            <div class='content row'>
                <card
                        v-for="item in aLockedItemsList"
                        ref="itemCard"
                        :key="item.name"
                        :id="item.id"
                        :name="item.name"
                        :tooltip="item.tooltip"
                        :text="item.text"
                        :src="item.src"
                        :class-name="item.className"
                        :source="item.source"
                        :school="item.school"
                        :level="item.level"
                        :duration="item.duration"
                        :casting-time="item.castingTime"
                        :range="item.range"
                        :materials="item.materials"
                        :ritual="item.ritual"
                        :components="item.components"
                        :casting-Time-Title="item.castingTimeTitle"
                        :duration-Title="item.durationTitle"
                        :range-Title="item.rangeTitle"
                        :components-Title="item.componentsTitle"
                        :color="item.color"
                        :view="sView"
                        :selected="item.selected"
                        :locked="item.locked"
                        :pre="item.pre"
                        :editable="item.editable"
                        @unlock="unlockCard(item)"
                        @hide="hideCard(item)"
                        @select="selectLockedCard(item)"
                >
                </card>
            </div>
            <div class='flex_row noprint'>
                <span class='bottomHeader'>Каталог заклинаний ({{ aItemsList.length }})</span>
            </div>
        </div>
        <!--span id='before_spells'><div class='loader'></div>Читаем заклинания...</span-->
        <div class="row spellContainer" :class="{noprint: aLockedItemsList.length>0}"
                :data-itemcount="aItemsList.length" v-show="bCardsAreVisible">
            <span class='itemCounter noprint' v-show="aLockedItemsList.length<1" v-cloak
                    title='Количество элементов'>{{ aItemsList.length }}</span>
            <card
                    v-for="item in aItemsList"
                    ref="itemCard"
                    :key="item.name"
                    :id="item.id"
                    :name="item.name"
                    :tooltip="item.tooltip"
                    :text="item.text"
                    :src="item.src"
                    :class-name="item.className"
                    :source="item.source"
                    :school="item.school"
                    :level="item.level"
                    :duration="item.duration"
                    :casting-time="item.castingTime"
                    :range="item.range"
                    :materials="item.materials"
                    :ritual="item.ritual"
                    :components="item.components"
                    :casting-Time-Title="item.castingTimeTitle"
                    :duration-Title="item.durationTitle"
                    :range-Title="item.rangeTitle"
                    :components-Title="item.componentsTitle"
                    :color="item.color"
                    :view="sView"
                    :selected="item.selected"
                    :pre="item.pre"
                    :editable="item.editable"
                    @lock="lockCard(item)"
                    @hide="hideCard(item)"
                    @select="selectCard(item)"
                    @cancel="cancelCard"
                    @input="saveCard"
            >
            </card>
        </div>

        <div class='row spellContainer'>
        </div>
    </div>
    <transition name="fade">
        <modal
                :close-func="closeModWin"
                :show="bModalWinShow"
                v-on:click="showInfo">
        </modal>
    </transition>
</div>
</body>
</html>