<!doctype html>
<html>
<head>
    <title>Заклинания D&D 5 редакция</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Заклинания D&D5">
    <link rel="shortcut icon" href="<%= require('./img/favicon.ico') %>" />
    <meta property="og:image" content="<%= require('./img/bg2.jpg') %>" />
    <meta property="og:image" content="<%= require('./img/og.jpg') %>" />
    <meta property="og:title" content="Заклинания D&D 5 редакция" />
    <meta property="og:description" content="Карточки заклинаний на русском и английском языках" />
    <style>
        article, aside, details, figcaption, figure, footer, header,
        hgroup, menu, nav, section, div {
            display: block;
        }
    </style>
</head>
<body>

<div id='app'></div>

</body>
</html>